
<div class="row">
  <div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>{{heroes.name | uppercase}}</strong> Details</div>
    <div class="panel-body">
       Id:  <small>{{heroes.id}}</small>
       <br>
       Desc: <input type="text" [(ngModel)]="heroes.desc" class="form-control" > 
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <button class="btn btn-dark" type="button" (click)="goBack()" ><< go back</button>
    <button class="btn btn-success" type="button" (click)="onSave()">Save</button>
    
  </div>
</div>